<div class="container" >
  <div class="col-md-12">
  <br>
  <h3 class="text-center"><u>Account Balance</u></h3>
  <br>
  <form (ngSubmit)="balance()" #form="ngForm">
      <div class="form-group">
          <label ><strong><em>Account Id:</em></strong> </label>
          <input required type="text" placeholder="{{accountId}}"   name="accountId" class="form-control" value="{{accountId}}" disabled>
       </div>
          
      <input  type="submit"  value="submit" class="btn btn-success" style="margin-left: 45%">
  </form>
  </div>
  <div *ngIf="confirm" class="alert alert-success box-msg" role="alert">
<strong>Current Account Balance is :- {{amount}}</strong>
</div>

