
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#"> <span class="glyphicon glyphicon-phone"></span>Pecunia Finance</a>
      </div>

        <ul class="nav navbar-nav">
         
            <li routerLinkActive="active" routerLinkActiveOptions="{exact:true}"><a routerLink="/authenticate/login" class="nav-link">Login</a></li>
            <li routerLinkActive="active" routerLinkActiveOptions="{exact:true}"><a  routerLink="/authenticate/signup" class="nav-link">Register</a></li>
           
        </ul>
    </div>
    
  </nav>

  <router-outlet></router-outlet>
