
<div class="container-fluid">
  <br>
    <div class="row">
      <div class="col-md-12">
        <nav class="navbar navbar-default ">
            <div class="container-fluid">
              
               <ul class="nav nav-tabs nav-justified">
                 
                <li  class="nav-item" routerLinkActive="active" routerLinkActiveOptions="{exact:true}"><a  routerLink="/home/loan/loanrequest" class="nav-link"><h4>Loan Request</h4></a></li>
                <li class="nav-item" routerLinkActive="active" routerLinkActiveOptions="{exact:true}"><a  routerLink="/home/loan/loanhistory" class="nav-link"><h4>Loan History</h4></a></li>
                </ul>
            </div>
            
          </nav>
        <router-outlet></router-outlet> 
      </div>
    </div>
  </div>
